- { 'Started' => @started, 'Finished' => @finished, 'Accepted' => @accepted, 'Rejected' => @rejected }.each do |status_name, status|
  %div
    - unless status.empty?
      %h1= status_name
      %ul
        - status.each do |story|
          %li 
            = story['owner'] + ': ' + story['name']
