%form.openid_login{"accept-charset" => "UTF-8", :action => "/login", :method => "post"}
  %label{:for => "openid_identifier"} Your OpenID:
  %input{:name => "openid_identifier", :style => "background: url(http://openid.net/images/login-bg.gif) no-repeat #FFF 5px; padding-left: 25px;", :type => "text"}/
  %small
    %a.help{:href => "http://openid.net/get/", :title => "What is an OpenID? Where can i get one?'"} What?
  %input{:type => "submit", :value => "Login"}/
